{% load static %}
<html>
<head>
    <title>{{ object.quiz.name }}</title>
    <link rel="stylesheet" href="{% static "css/styles.css" %}"/>

</head>
<body>

<div id="content" class="container" style="background-image: url('{{ background.src.large }}')">
    <div class="wrapper">
        {% if object.question != none %}
            <div class="question">
                <div class="question_title">{{ object.question.question }}</div>
                <div class="answers">
                    <ul>
                        {% for answer in object.question.answer_set.all %}
                            <li>{{ answer.answer }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% else %}
            {% if object.round != none %}
                <div class="round">Next Round: {{ object.round.name }}</div>
            {% else %}
                <div class="quiz">Quiz: {{ object.quiz.name }}</div>
            {% endif %}
        {% endif %}
    </div>
</div>

</body>
</html>
