{% extends "base.html" %}
{% load static %}
{% block content %}
    <div {% if object.answers %}class="answers"{% endif %}>
        <h1>Controls for {{ object.quiz.name }}</h1>
        <p>
            <a href="?clear" class="btn btn-primary">Restart</a>
            <a href="?answers={{ object.answers|yesno:"false,true" }}" class="btn btn-primary">Answer mode - toggle</a>
            {% if not object.answers %}
            <a href="?answers=true&clear" class="btn btn-primary">Answer mode and restart</a>
            {% endif %}
        </p>
        <ol>
            {% for round in object.quiz.round_set.all %}
                <li {% if round.id == object.current_round_id %}class="active-round"{% endif %}>
                    <a href="?round={{ round.id }}#{{ round.anchor }}" id="{{ round.anchor }}">
                        {{ round.name }}
                    </a>
                    <ol>
                        {% for question in round.question_set.all %}
                            <li {% if question.id == object.current_question_id %}class="active-question"{% endif %}>
                                <a href="?question={{ question.id }}#{{ question.anchor }}" id="{{ question.anchor }}">
                                    {{ question.question }}
                                </a>
                                <ul>
                                    {% for answer in question.answer_set.all %}
                                        <li>
                                            <span>{{ answer.answer }}</span>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </li>
                        {% endfor %}
                    </ol>
                </li>
            {% endfor % %}
        </ol>
    </div>
{% endblock %}