
{% extends "base.html" %}
{% load static %}
{% block content %}
    
<p>
    <a class="btn btn-light" href="{% url 'quiz_answer_list' %}">
    Answer Listing
    </a>
</p>
    
<form method="post">
{% csrf_token %}
  <div class="form-group row">
  <label class="col-sm-2 col-form-label" for="answer">answer: </label>
  <input class="form-control col-sm-10" id="answer" type="text" name="answer" value="{{ object.answer }}">
  </div>
  <div class="form-group row">
  <label class="col-sm-2 col-form-label" for="correct">correct: </label>
  <input class="form-control col-sm-10" id="correct" type="text" name="correct" value="{{ object.correct }}">
  </div>
  <div class="form-group row">
  <label class="col-sm-2 col-form-label" for="last_updated">last_updated: </label>
  <input class="form-control col-sm-10" id="last_updated" type="date" name="last_updated" value="{{ object.last_updated }}" disabled>
  </div>
  <div class="form-group row">
  <label class="col-sm-2 col-form-label" for="created">created: </label>
  <input class="form-control col-sm-10" id="created" type="date" name="created" value="{{ object.created }}" disabled>
  </div>
  <input type="submit" value="Save" class="btn btn-primary">
</form>

{% endblock %}