{% extends "base.html" %}
{% load static %}
{% block content %}
<style>
  .answer {
  visibility: hidden;
  }
  .question:hover .answer {
  visibility: visible;
  }
 
</style>
    <p>
        <a class="btn btn-light" href="{% url 'quiz_quiz_list' %}">
            Quiz Listing
        </a>

        <a class="btn btn-light" href="{{ object.start_url }}">
            Start Quiz
        </a>
    </p>

    <table class="table">
        <tr>
            <td>last_updated</td>
            <td>{{ object.last_updated }}</td>
        </tr>
        <tr>
            <td>name</td>
            <td>{{ object.name }}</td>
        </tr>
        <tr>
            <td>created</td>
            <td>{{ object.created }}</td>
        </tr>
        <tr>
            <td>Active States</td>
            <td>
                {% for activeState in object.activestate_set.all %}
                <div><a href="{{ activeState.control_url }}">{{ activeState }}</a></div>
                {% endfor %}
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <ol>
                    {% for round in object.round_set.all %}
                        <li>
                            <div>{{ round.name }}</div>
                            <ol>
                                {% for question in round.question_set.all %}
                                    <li class="question">
                                        <div>{{ question.question }}</div>
                                        <ul>
                                            {% for answer in question.answer_set.all %}
                                                <li>{{ answer.answer }}<span class="answer">{% if answer.correct %} &#x2714;{% endif %}</span></li>
                                            {% endfor %}
                                        </ul>
                                    </li>
                                {% endfor %}
                            </ol>
                        </li>
                    {% endfor % %}
                </ol>
            </td>
        </tr>
    </table>
    <a class="btn btn-primary" href="{{ object.get_update_url }}">Edit</a>

{% endblock %}
