{% extends "base.html" %}
{% load static %}
{% block content %}
    <p>
        <a class="btn btn-light" href="{% url 'quiz_quiz_list' %}">
            Quiz Listing
        </a>

        <a class="btn btn-light" href="{{ object.start_url }}">
            Start Quiz
        </a>
    </p>

    <table class="table">
        <tr>
            <td>last_updated</td>
            <td>{{ object.last_updated }}</td>
        </tr>
        <tr>
            <td>name</td>
            <td>{{ object.name }}</td>
        </tr>
        <tr>
            <td>slug</td>
            <td>{{ object.slug }}</td>
        </tr>
        <tr>
            <td>created</td>
            <td>{{ object.created }}</td>
        </tr>
        <tr>
            <td>opentb_session_key</td>
            <td>{{ object.opentb_session_key }}</td>
        </tr>
        <tr>
            <td colspan="2">
                <ol>
                    {% for round in object.round_set.all %}
                        <li>
                            <div>{{ round.name }}</div>
                            <ol>
                                {% for question in round.question_set.all %}
                                    <li>
                                        <div>{{ question.question }}</div>
                                        <ul>
                                            {% for answer in question.answer_set.all %}
                                                <li>{{ answer.answer }}{% if answer.correct %} &#x2714;{% endif %}</li>
                                            {% endfor %}
                                        </ul>
                                    </li>
                                {% endfor %}
                            </ol>
                        </li>
                    {% endfor % %}
                </ol>
            </td>
        </tr>
    </table>
    <a class="btn btn-primary" href="{{ object.get_update_url }}">Edit</a>

{% endblock %}